.books-prevue {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  color: rgb(102, 16, 16);
}
.books-card {
  width: 300px;
  /* border: 2px solid rgb(102, 16, 16); */
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.poster {
  max-width: 250px;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.modal-window {
  display: flex;
  gap: 10px;
  padding: 20px;
  height: 400px;
  width: 400px;
}
